@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
}
@mixin cover {
    width: 100%;
    height: 100%;
}
$color1: #020c25;
html,
body {
    @include cover;
    color: #020c25;
    font-family: "Roboto";
}

.title {
    font-family: "Roboto";
    font-size: 32px;
    line-height: 37px;
    &::after{
        content: '';
        position: absolute;
        height: 4px;
        width: 120px;
        background-color: #7dd97d;
        right: 0;
        top: 18%;
    }
}

.title-1 {
    font-family: "Roboto";
    font-size: 32px;
    line-height: 37px;
    &::after{
        content: '';
        position: absolute;
        height: 4px;
        width: 120px;
        background-color: #7dd97d;
        left: 0;
        top: 18%;
    }
}
.subtitle {
    font-size: 42px;
    line-height: 49px;
    margin-top: 10px;
}
.content {
    font-size: 18px;
    line-height: 25px;
}
#main {
    font-family: "Roboto";
    color: #020c25;
    .section1 {
        background-image: url(img/section1-bg.png);
        background-size: cover;

        //  background-attachment: fixed;
        .header {
            .navbar {
                padding: 1rem 0rem;
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                          text-align: right;
                            padding: 0px 25px;
                        }
                        a{
                            
                            padding: 5px;
                            position: relative;
                            font-size: 22px;
                            line-height: 18px;
                            color: #ffffff;
                            &::after{
                                content: '';
                                position: absolute;
                                width: 0%;
                                left: 0%;
                                height: 4px;
                                background-color:#fff;
                                transition: 0.3s linear;
                                bottom: -15px;
                                
                            }
                            &:hover{
                                text-decoration: none;
                                color: #fff;
                        }
                        &:hover::after{
                         
                          width: 100%;
                       }
                      }
                        
                    }
                }
            }
        }

        .sec1a {
            padding: 100px 0px;
            .heading {
                font-weight: bold;
                font-size: 46px;
                line-height: 54px;
            }
            p {
                font-size: 18px;
                line-height: 25px;

                width: 75%;
            }
            .btn {
                background-color: $color1;
                border-radius: 30px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                padding: 10px 20px;
                color: #fffdfd;
                border:2px solid transparent;
               // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
               &:hover{
                   background-color: #fff;
                   color:#78d695;
                   border:2px solid #78d695;
                   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
               }
            }
        }
        .sec1b {
            img {
                position: absolute;
                right: 0;
                top: 20%;
                width: 70%;
            }
        }
    }
    .section2 {
        padding: 60px 0px;
        .sec2a {
            img {
                width: 80%;
            }
        }
        .about-content{ 
           
           
            .sec2b {
                position: relative;
                text-align: end;
               
                top: 18%;
    
                .btn {
                   
                    color: #ffffff;
                    border-radius: 20px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
     
    }
    .section3 {
        padding: 20px 0px;
        background-image: url(img/section3-bg.png);
        background-size: cover;
        .sec3a{
            position: relative;
            top: 30%;
            .btn{
                border-radius: 20px;
            }
        }
        .sec3b {
         @include cover;
            .card1{
              position: absolute;
              top: 30%;
              right: 5%;
             
            }
          
            .theme {
                text-align: center;
                width: 270px;
                background: #fefefe;
                box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.25);
                .block-1, .block-2, .block-3{
                    padding: 15% 5%;
                  }
                img {
                    width: 75px;
                    height: 75px;
                }
                .service {
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 30px;
                }
                .service-desc {
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 20px;
                }
            }
        }
        }
}


    @media (max-width:992px){
        .title ,.title-1{
          
            font-size: 32px;
            line-height: 37px;
            &::after{
               display: none;
            }
        }
        .subtitle {
            font-size: 24px;
            line-height: 49px;
        }  
       #main{
        .navbar-nav {
            .nav-item {
                .nav-link {
                 
                    padding: 20px ;
                }
                a{
                    
                    padding: 5px;
                    position: relative;
                    font-size: 22px;
                    line-height: 18px;
                    color: #ffffff;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 0%;
                        left: 0%;
                        height: 4px;
                        background-color:#fff;
                        transition: 0.3s linear;
                        bottom: -15px;
                        display: none;
                    }
                    &:hover{
                        text-decoration: none;
                        color: #fff;
                }
                &:hover::after{
                 
                  width: 100%;
               }
              }
                
            }
        }
        .section2 {
            padding: 60px 0px;
            
            .about-content{ 
               
               
                .sec2b {
                  
                    text-align: center;
                    top: 0%;
        
                    .btn {
                        background-color: $color1;
                        color: #ffffff;
                        border-radius: 20px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
         
         }

        .section3 {
            padding: 20px 0px;
           
            .sec3a{
              text-align: center;
                top: 30%;
            }
            .sec3b {
            
                .card1{
                  position: static;
                  margin-top: 30px;
              
                 
                }
                .card1,.card2,.card3 {
                    display: flex;
                    justify-content: center;
                }
             
            }
            }
    }
    }

