@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #020c25;
  font-family: "Roboto";
}

.title {
  font-family: "Roboto";
  font-size: 32px;
  line-height: 37px;
}

.title::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 120px;
  background-color: #7dd97d;
  right: 0;
  top: 18%;
}

.title-1 {
  font-family: "Roboto";
  font-size: 32px;
  line-height: 37px;
}

.title-1::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 120px;
  background-color: #7dd97d;
  left: 0;
  top: 18%;
}

.subtitle {
  font-size: 42px;
  line-height: 49px;
  margin-top: 10px;
}

.content {
  font-size: 18px;
  line-height: 25px;
}

#main {
  font-family: "Roboto";
  color: #020c25;
}

#main .section1 {
  background-image: url(img/section1-bg.png);
  background-size: cover;
}

#main .section1 .header .navbar {
  padding: 1rem 0rem;
}

#main .section1 .header .navbar .navbar-nav .nav-item .nav-link {
  text-align: right;
  padding: 0px 25px;
}

#main .section1 .header .navbar .navbar-nav .nav-item a {
  padding: 5px;
  position: relative;
  font-size: 22px;
  line-height: 18px;
  color: #ffffff;
}

#main .section1 .header .navbar .navbar-nav .nav-item a::after {
  content: '';
  position: absolute;
  width: 0%;
  left: 0%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  bottom: -15px;
}

#main .section1 .header .navbar .navbar-nav .nav-item a:hover {
  text-decoration: none;
  color: #fff;
}

#main .section1 .header .navbar .navbar-nav .nav-item a:hover::after {
  width: 100%;
}

#main .section1 .sec1a {
  padding: 100px 0px;
}

#main .section1 .sec1a .heading {
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
}

#main .section1 .sec1a p {
  font-size: 18px;
  line-height: 25px;
  width: 75%;
}

#main .section1 .sec1a .btn {
  background-color: #020c25;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 10px 20px;
  color: #fffdfd;
  border: 2px solid transparent;
}

#main .section1 .sec1a .btn:hover {
  background-color: #fff;
  color: #78d695;
  border: 2px solid #78d695;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
}

#main .section1 .sec1b img {
  position: absolute;
  right: 0;
  top: 20%;
  width: 70%;
}

#main .section2 {
  padding: 60px 0px;
}

#main .section2 .sec2a img {
  width: 80%;
}

#main .section2 .about-content .sec2b {
  position: relative;
  text-align: end;
  top: 18%;
}

#main .section2 .about-content .sec2b .btn {
  color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#main .section3 {
  padding: 20px 0px;
  background-image: url(img/section3-bg.png);
  background-size: cover;
}

#main .section3 .sec3a {
  position: relative;
  top: 30%;
}

#main .section3 .sec3a .btn {
  border-radius: 20px;
}

#main .section3 .sec3b {
  width: 100%;
  height: 100%;
}

#main .section3 .sec3b .card1 {
  position: absolute;
  top: 30%;
  right: 5%;
}

#main .section3 .sec3b .theme {
  text-align: center;
  width: 270px;
  background: #fefefe;
  -webkit-box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.25);
}

#main .section3 .sec3b .theme .block-1, #main .section3 .sec3b .theme .block-2, #main .section3 .sec3b .theme .block-3 {
  padding: 15% 5%;
}

#main .section3 .sec3b .theme img {
  width: 75px;
  height: 75px;
}

#main .section3 .sec3b .theme .service {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
}

#main .section3 .sec3b .theme .service-desc {
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
}

@media (max-width: 992px) {
  .title, .title-1 {
    font-size: 32px;
    line-height: 37px;
  }
  .title::after, .title-1::after {
    display: none;
  }
  .subtitle {
    font-size: 24px;
    line-height: 49px;
  }
  #main .navbar-nav .nav-item .nav-link {
    padding: 20px;
  }
  #main .navbar-nav .nav-item a {
    padding: 5px;
    position: relative;
    font-size: 22px;
    line-height: 18px;
    color: #ffffff;
  }
  #main .navbar-nav .nav-item a::after {
    content: '';
    position: absolute;
    width: 0%;
    left: 0%;
    height: 4px;
    background-color: #fff;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    bottom: -15px;
    display: none;
  }
  #main .navbar-nav .nav-item a:hover {
    text-decoration: none;
    color: #fff;
  }
  #main .navbar-nav .nav-item a:hover::after {
    width: 100%;
  }
  #main .section2 {
    padding: 60px 0px;
  }
  #main .section2 .about-content .sec2b {
    text-align: center;
    top: 0%;
  }
  #main .section2 .about-content .sec2b .btn {
    background-color: #020c25;
    color: #ffffff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #main .section3 {
    padding: 20px 0px;
  }
  #main .section3 .sec3a {
    text-align: center;
    top: 30%;
  }
  #main .section3 .sec3b .card1 {
    position: static;
    margin-top: 30px;
  }
  #main .section3 .sec3b .card1, #main .section3 .sec3b .card2, #main .section3 .sec3b .card3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */