@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
}
@mixin cover {
    width: 100%;
    height: 100%;
}
html,
body {
    @include cover;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    font-family: "Roboto";
}
.page::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.page::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.page::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #81e8a9, #a5e6a8, );
}

.page {
    @include cover;
    overflow-y: auto;

    .section1 {
        @include cover;
        background-image: url(img/image.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right top;
        position: relative;
        .header {
            .navbar {
                padding: 0px;
                .navbar-brand {
                 padding-top: 0px;
                    }
                .navbar-nav {
                    position: absolute;
                    right: 0;
                    top: 22%;
                    .nav-link {
                        color: #ffff;
                        padding: 0px 25px;
                    }
                    a {
                        padding: 5px;
                        position: relative;
                        font-size: 15px;
                        line-height: 18px;
                        font-weight: 800;
                        color: #ffffff;
                        &::after {
                            content: "";
                            position: absolute;
                            width: 0%;
                            left: 0%;
                            height: 4px;
                            background-color: #fff;
                            transition: 0.3s linear;
                            bottom: -15px;
                        }
                        &:hover {
                            text-decoration: none;
                            color: #fff;
                        }
                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .sec-1 {
            position: absolute;
            top: 30%;

            h3 {
                font-size: 52px;
                line-height: 56px;
                letter-spacing: 0.05em;
            }
            p {
                font-size: 20px;
                line-height: 28px;
            }
            .btn {
                background-image: linear-gradient(to right , #5ce449, #6de674, #81e8a9);
                // box-shadow: 0px 5px 10px rgb(97, 109, 97);
                color: #fff;
                border-radius: 30px;
                font-weight: 500;
                font-size: 16px;
                border: 1px solid transparent;
                letter-spacing: 3px;
                padding: 10px 30px;
                &:hover {
                    background-image: linear-gradient(to right, #fff, #fff, #fff, #fff);
                    color: #6de674;
                    border: 1px solid #6de674;
                }
            }
        }
    }
    .section2 {
        @include cover;
        .about {
            padding: 2% 0;
            .about-img {
                img {
                    width: 100%;
                }
            }
            .about-content {
                position: relative;
                top: 30%;
            }
            h3  {
                  font-size: 20px;
                  &::first-letter {
                  font-size: 36px;
                }
             
            }
            .btn {
                background-image: linear-gradient(to right, #5ce449, #6de674, #81e8a9);
                color: #fff;
                border-radius: 30px;
                font-weight: 500;
                font-size: 16px;
                border: 1px solid transparent;
                letter-spacing: 3px;
                padding: 10px 30px;
                &:hover {
                    background-image: linear-gradient(to right, #fff, #fff, #fff, #fff);
                    color: #6de674;
                    border: 1px solid #6de674;
                }
            }



        }
        .features {
            padding: 2% 0;
            .card1 {
                display: inline-block;
                height: auto;
                padding: 20px 10px;
                background: #fefefe;
                box-shadow: 2px 10px 20px rgba(73, 158, 70, 0.25);
                border-radius: 20px;
                .light {
                    background-color: rgb(94, 172, 79);
                    height: auto;
                    width: 55px;
                    padding: 9px;
                    border-radius: 50%;
                    text-align: center;
                }
                &:hover {
                    background: rgb(94, 172, 79);
                    color: #fff;
                    .light {
                        background-color: #ffff;
                    }
                }
                h5{
                    font-size: 22px;
                    margin-top: 10px;
                }
                p{
                    font-size: 11px;
                }
            }
        }
    }
}

@media (max-width:992px){
  .page{


    .section1 {
        .header {
            .navbar {
                padding: 0px;
                .navbar-brand {
                 padding-top: 0px;
                 img{
                     width:70%;
                 }
                    }
                  .navbar-toggler{
                    color: rgba(0,0,0,.5);
                    border-color: rgba(0,0,0,.1);
                    background: #fff;
                    margin: 0px 10px;
                    padding: 5px;
                  }  
             
            }
        }
        .sec-1 {
          
            right: 0;

            h3 {
              //  font-size: 29px;
              //  line-height: 28px;
                letter-spacing: 0.05em;
                color: #fff;
            
            }
            p {
             
                    color: #fff;
                   
            }
            .btn {
              
                padding: 7px 13px;
               
            }
        }
    }
    .section2 {
        .about {
         
         
            .about-content {
                position: relative;
                top: 0% !important;
            }
    }
    .features {
    
        .card1 {
           
            .light {
               display: inline-block;
            }
           
            p{
                font-size: 13px;
            }
        }
    }
}
}
}
