@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

.page::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.page::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.page::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#81e8a9), to(#a5e6a8));
  background-image: linear-gradient(to bottom, #81e8a9, #a5e6a8);
}

.page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.page .section1 {
  width: 100%;
  height: 100%;
  background-image: url(img/image.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  position: relative;
}

.page .section1 .header .navbar {
  padding: 0px;
}

.page .section1 .header .navbar .navbar-brand {
  padding-top: 0px;
}

.page .section1 .header .navbar .navbar-nav {
  position: absolute;
  right: 0;
  top: 22%;
}

.page .section1 .header .navbar .navbar-nav .nav-link {
  color: #ffff;
  padding: 0px 25px;
}

.page .section1 .header .navbar .navbar-nav a {
  padding: 5px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  font-weight: 800;
  color: #ffffff;
}

.page .section1 .header .navbar .navbar-nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  left: 0%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  bottom: -15px;
}

.page .section1 .header .navbar .navbar-nav a:hover {
  text-decoration: none;
  color: #fff;
}

.page .section1 .header .navbar .navbar-nav a:hover::after {
  width: 100%;
}

.page .section1 .sec-1 {
  position: absolute;
  top: 30%;
}

.page .section1 .sec-1 h3 {
  font-size: 52px;
  line-height: 56px;
  letter-spacing: 0.05em;
}

.page .section1 .sec-1 p {
  font-size: 20px;
  line-height: 28px;
}

.page .section1 .sec-1 .btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#5ce449), color-stop(#6de674), to(#81e8a9));
  background-image: linear-gradient(to right, #5ce449, #6de674, #81e8a9);
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid transparent;
  letter-spacing: 3px;
  padding: 10px 30px;
}

.page .section1 .sec-1 .btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(#fff), color-stop(#fff), to(#fff));
  background-image: linear-gradient(to right, #fff, #fff, #fff, #fff);
  color: #6de674;
  border: 1px solid #6de674;
}

.page .section2 {
  width: 100%;
  height: 100%;
}

.page .section2 .about {
  padding: 2% 0;
}

.page .section2 .about .about-img img {
  width: 100%;
}

.page .section2 .about .about-content {
  position: relative;
  top: 30%;
}

.page .section2 .about h3 {
  font-size: 20px;
}

.page .section2 .about h3::first-letter {
  font-size: 36px;
}

.page .section2 .about .btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#5ce449), color-stop(#6de674), to(#81e8a9));
  background-image: linear-gradient(to right, #5ce449, #6de674, #81e8a9);
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid transparent;
  letter-spacing: 3px;
  padding: 10px 30px;
}

.page .section2 .about .btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(#fff), color-stop(#fff), to(#fff));
  background-image: linear-gradient(to right, #fff, #fff, #fff, #fff);
  color: #6de674;
  border: 1px solid #6de674;
}

.page .section2 .features {
  padding: 2% 0;
}

.page .section2 .features .card1 {
  display: inline-block;
  height: auto;
  padding: 20px 10px;
  background: #fefefe;
  -webkit-box-shadow: 2px 10px 20px rgba(73, 158, 70, 0.25);
          box-shadow: 2px 10px 20px rgba(73, 158, 70, 0.25);
  border-radius: 20px;
}

.page .section2 .features .card1 .light {
  background-color: #5eac4f;
  height: auto;
  width: 55px;
  padding: 9px;
  border-radius: 50%;
  text-align: center;
}

.page .section2 .features .card1:hover {
  background: #5eac4f;
  color: #fff;
}

.page .section2 .features .card1:hover .light {
  background-color: #ffff;
}

.page .section2 .features .card1 h5 {
  font-size: 22px;
  margin-top: 10px;
}

.page .section2 .features .card1 p {
  font-size: 11px;
}

@media (max-width: 992px) {
  .page .section1 .header .navbar {
    padding: 0px;
  }
  .page .section1 .header .navbar .navbar-brand {
    padding-top: 0px;
  }
  .page .section1 .header .navbar .navbar-brand img {
    width: 70%;
  }
  .page .section1 .header .navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    background: #fff;
    margin: 0px 10px;
    padding: 5px;
  }
  .page .section1 .sec-1 {
    right: 0;
  }
  .page .section1 .sec-1 h3 {
    letter-spacing: 0.05em;
    color: #fff;
  }
  .page .section1 .sec-1 p {
    color: #fff;
  }
  .page .section1 .sec-1 .btn {
    padding: 7px 13px;
  }
  .page .section2 .about .about-content {
    position: relative;
    top: 0% !important;
  }
  .page .section2 .features .card1 .light {
    display: inline-block;
  }
  .page .section2 .features .card1 p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */